{% extends 'music/base.html' %}
{% block title %}Add a New Album {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form-template.html'%}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success"> Add</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}