<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"> {% load staticfiles%} {% comment %}
    <link rel="stylesheet" href="{% static 'music/bootstrap.css' %}">{% endcomment %}
    <link rel="stylesheet" href="{% static 'music/style.css' %}"> {% comment %}
    <script src="{% static 'music/bootstrap.js' %}"></script>{% endcomment %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %} </title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toogle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                    
                </button>
                <a href="{% url 'music:index' %}" class="navbar-brand">BeatWorker</a>
            </div>

            <!--items-->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'music:index' %}">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Albums
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'music:index' %}">
                            <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Songs
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="GET" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'music:album-add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Album
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'music:index' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    {% block body %} {% endblock %}
</body>

</html>