<!DOCTYPE html>
<html lang="en">
{% extends 'music/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Album Details {% endblock %} </title>
</head>

<body>
    
     {% block body %}
          <div class="container">

     {% if error_message %}
     <p><strong>{{error_message}} </strong></p>
    {% endif %}


         <div class="col-md-4">
             <div class="row">
                    <div class="col-sm-6 col-md-10">
                        <div class="thumbnail">
                            <img src="{{ album.album_logo}}" alt="..." style="width: 250px; height: 250px;">
                            <div class="caption">
                                <h3>{{album.album_title}}</h3>
                                <span><small>{{album.genre}}</small></span>
                                <p>{{album.artist}}</p>
                            </div>
                        </div>
                     </div>
            </div>
         </div>

         <div class="col-md-8">
             <button class="btn btn-primary">View all</button>
             <span>Add New Song</span>

             <div>
                 <h2>All Songs</h2>
                 <table class="table table-striped">
                     <thead>
                     <tr>
                         <th>Title</th>
                         <th>Audio File</th>
                         <th> Favorite</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for song in album.song_set.all %}
                     <tr>
                         <td>{{ song.song_title }}</td>
                         <td> {{ song.file_type }}</td>
                         <td>{% if song.is_favorite %}
                        <img src="http://icons.iconarchive.com/icons/klukeart/pink-gold/128/star-gold-icon.png" alt="failed to load" style="width: 16px;height:16px">
                            {% endif %}</td>
                         <td></td>
                     </tr>
                     {% endfor%}
                     </tbody>

                 </table>

             </div>
         </div>
</div>
     {% endblock %}
</body>

</html>