
{% extends 'music/base.html' %}
{%block title%} Home{% endblock%}

    {% block body%}
    <div class="container">

        {% if all_albums %}
        <div class="row">
            {% for album in all_albums %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ album.album_logo}}" alt="..." style="width: 250px; height: 250px;">
                    <div class="caption">
                        <h3>{{album.album_title}}</h3>
                        <p>{{album.artist}}</p>
                        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary" role="button">View Details</a>
                        <button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                        <button class="btn btn-default"><span class="glyphicon glyphicon-star"></span></button>
                    </div>
                </div>
            </div>

            {% endfor %}</div> {% else %}
        <h3> no albums yet</h3>
        {% endif %}
    </div>
    {% endblock %}
